OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backendprep
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

MAIL_SERVICE=localhost
MAIL_PORT=1025
MAIL_SECURE=false
EMAIL=example@gmail.com
EMAIL_APP_PASS=https://myaccount.google.com/apppasswords (16-digit-passcode)

AWS_LIGHTSAIL_ACCESS_KEY_ID=
AWS_LIGHTSAIL_SECRET_ACCESS_KEY=
