OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backendprep
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

AWS_LIGHTSAIL_ACCESS_KEY_ID=
AWS_LIGHTSAIL_SECRET_ACCESS_KEY=
